html {
  background-color: #292929 !important;
  color: inherit;
}

.thumb-img {
  border-color: #292929 !important;
}

#loupeContainer div.background {
  background-color: #292929 !important;
  color: inherit;
}

header div.background {
  background-color: #292929 !important;
  color: inherit;
}

.custom-colorable {
  fill: #D4D4D4 !important;
}

body {
  background-color: #292929 !important;
  color: #D4D4D4 !important;
}
